<h2>{{circuit.circuitName}}</h2>
<p>
	Locality: {{circuit.Location.locality}}
</p>
<p>
	Country: {{circuit.Location.country}}
</p>
<p>
  <a href="{{circuit.url}}" rel="external" target="_blank">More Information</a>
</p>
