<h2>Contact</h2>
<address>
  <strong>Die Netzarchitekten</strong><br>
  Jakob-Haringer Str. 1<br>
  A-5020 Salzburg<br>
  <abbr title="Phone">P:</abbr> +43 (0) 664 / 56 33 23
</address>

<address>
  <strong>Magdalena Wimmer</strong><br>
  <a href="mailto:mwimmer.mmt-b2014@fh-salzburg.ac.at">mwimmer.mmt-b2014@fh-salzburg.ac.at</a>
</address>
